body {
  
        background-color: #b4b960;
  
      }
      
      h1 {
        
        text-align: center;
        
      }
      
      .inline {
        
        display: inline-block;
        width: 16%;
         
      }
