body {
  
  background-color: #ea83de;
  
}
      
img {
  
 width: 16% 
  
}

h1 {
        
  text-align: center;
        
}
      
.inline {
        
  display: inline-block;
  width: 16%;
         
}
